/* =========================
   Social
   ========================= */

.social-icons {
  position: absolute;
  right: 14px;
  top: 17.5px;
  font-size: 21px;

  a {
    .transition-duration(.5s);
    padding-right: 12px;
    color: @social-icon-color !important;
    &>:hover,
    &>:focus {
      color: @gray30;
    }
  }
}
