/* =========================
   Variables
   ========================= */

/*
 * 1. Base variables
 * 2. Line height
 * 3. Padding
 * 4. Border radius
 *
 */

// Base variables
// -------------------------

@base-variable:               22px;

@base-variable-normal:        15px;
@base-variable-large:         18px;
@base-variable-small:         8px;

// Line height
// -------------------------

@line-height-normal:          (22 / 15);

@line-height-xxsmall:         (22 / 20);
@line-height-xsmall:          (22 / 19);
@line-height-small:           (22 / 18);
@line-height-medium:          (22 / 17);
@line-height-large:           (22 / 16);
@line-height-xlarge:          (22 / 14);
@line-height-xxlarge:         (22 / 13);

@line-height-base:            @base-variable;

// Padding
// -------------------------

@padding-vertical:            8px;
@padding-horizontal-normal:   18px;
@padding-horizontal-large:    22px;
@padding-horizontal-small:    15px;

@padding-base:                15px;
@padding-components:          8px 15px;

@padding-panel:               44px 15px 15px;

@padding-code:                1.5px 4px;
@padding-pre:                 15px;
@padding-output:              0 15px;
@padding-samp:                0 0 2px;

@padding-quote:               15px 0;
@padding-blockquote:  	      12px 0;

@padding-nav-items:           4px 15px;
@padding-table-cell:          8px 10px 8px 9px;

// Border radius
// -------------------------

@border-radius-normal:        999px;

@border-radius-small:         3px;
@border-radius-large:         5px;
@border-radius-xlarge:        10px;
