/* =========================
   Variables
   ========================= */

/*
 * 1. Base variables
 * 2. Line height
 * 3. Padding
 * 4. Border radius
 *
 */

// Base variables
// -------------------------

@base-variable:               22px;

@base-variable-normal:        15px;
@base-variable-large:         18px;
@base-variable-small:         8px;

// Line height
// -------------------------

@line-height-normal:          (22 / 15);

@line-height-xxsmall:         (22 / 20);
@line-height-xsmall:          (22 / 19);
@line-height-small:           (22 / 18);
@line-height-medium:          (22 / 17);
@line-height-large:           (22 / 16);
@line-height-xlarge:          (22 / 14);
@line-height-xxlarge:         (22 / 13);

@line-height-base:            @base-variable;

// Padding
// -------------------------

@padding-vertical:            8px;
@padding-horizontal-normal:   18px;
@padding-horizontal-large:    22px;
@padding-horizontal-small:    15px;

@padding-base:                15px;
@padding-components:          8px 15px;

@padding-panel:               44px 15px 15px;
@padding-panel-box:           15px;
@padding-panel-header-title:  12px;
@padding-panel-space:         30px;

@padding-code:                1.5px 4px;
@padding-pre:                 15px;
@padding-output:              0 15px;
@padding-samp:                0 0 2px;

@padding-quote:               15px 0;
@padding-blockquote:  	      12px 0;

@padding-nav-items:           4px 15px;
@padding-table-cell:          8px 10px 8px 9px;

// Border radius
// -------------------------

@border-radius-normal:        999px;

@border-radius-small:         3px;
@border-radius-large:         5px;
@border-radius-xlarge:        10px;

// Vendor variables
// -------------------------

@panel-title-margin-bottom:                     15px;
@panel-title-font-size:                         18px;
@panel-title-line-height:                       24px;
@panel-title-font-weight:                       normal;
@panel-title-color:                             #444;
@panel-title-text-transform:                    none;

@panel-box-padding:                             15px;
@panel-box-background:                          #f5f5f5;
@panel-box-color:                               #444;
@panel-box-title-color:                         #444;
@panel-box-badge-top:                           10px;
@panel-box-badge-right:                         @panel-box-badge-top;
@panel-box-teaser-margin:                       -@panel-box-padding;
@panel-box-teaser-margin-bottom:                @panel-title-margin-bottom;

@panel-box-primary-background:                  #ebf7fd;
@panel-box-primary-color:                       #2d7091;
@panel-box-primary-title-color:                 #2d7091;

@panel-box-secondary-background:                #eee;
@panel-box-secondary-color:                     #444;
@panel-box-secondary-title-color:               #444;

@panel-header-title-padding:                    10px;
@panel-header-title-border:                     #ddd;
@panel-header-title-border-width:               1px;
@panel-header-title-color:                      #444;

@panel-space-padding:                           30px;

@panel-divider-gutter:                          25px;
@panel-divider-gutter-large:                    35px;
@panel-divider-border:                          #ddd;
@panel-divider-border-width:                    1px;

