language: python
python: 2.7
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py33
  - TOX_ENV=pypy
  - TOX_ENV=pep8
  - TOX_ENV=pylint
install: pip install tox --use-mirrors
script: tox -e $TOX_ENV
