language: python
python: 2.7
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py32
  - TOX_ENV=py33
  - TOX_ENV=pypy
  - TOX_ENV=pep8
install: pip install tox --use-mirrors
script: tox -e $TOX_ENV
notifications:
  irc:
    - "chat.freenode.net#softlayer"
