{% if page.title == "cli" %}  <!-- Determines which hero to show based on the page title -->

<section class="featured-hero" id="featured-element"> <!-- Hero -->
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

  <h1 class="featured-name">{{site.project.name}}</h1>
  <h2 class="featured-tagline">{{site.project.tagline}}.</h2>

<div class="featured-buttons">
  <a class="button white" href="{{page.baseurl}}getting-started">
    Get Started
  </a>

  <img class="featured-image-right" src="{{page.baseurl}}assets/images/arrow-right.png" alt="Getting Started">
</div>

<div class="featured-version">
  <p>
    Currently <span id="github-version"><i class="fa fa-spinner fa-spin"></i></span>
  </p>
</div>

</div>
</div>
</div>
</section> <!-- End Hero -->

{% else %}

<section class="featured-hero-alias" id="featured-element"> <!-- Hero (alias) -->
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

  <h1 class="featured-name">{{site.project.alias}}</h1>
  <h2 class="featured-tagline">{{site.github.project_tagline}}</h2>

</div>

<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
<div class="col-lg-4 col-md-4">
<div class="featured-wrapper">

  <a href="{{page.baseurl}}getting-started/#toc_1">
  <i class="fa fa-book" id="featured-slot-one"></i>
  <h3>Docs</h3>
  <p>{{site.project.name}} is an open source project. Pick from a wide range of options to get started. <i class="fa fa-arrow-circle-right fa-fw" id="featured-icon-slot-one"></i></p></a>

</div>
</div>

<div class="col-lg-4 col-md-4">
<div class="featured-wrapper">

  <a href="{{page.baseurl}}contributing">
  <i class="fa fa-terminal" id="featured-slot-two"></i>
  <h3>Python CLI</h3>
  <p><span id="github-contributors"><i class="fa fa-spinner fa-spin"></i></span> contributors have put time and effort into this project. Find out how you can help. <i class="fa fa-arrow-circle-right fa-fw" id="featured-icon-slot-two"></i></p></a>

</div>
  <img class="featured-image-left" src="{{page.baseurl}}assets/images/arrow-left.png" alt="Go to Python CLI">
</div>

<div class="featured-version">
  <p>
  Currently <span id="github-version"><i class="fa fa-spinner fa-spin"></i></span>
  </p>
</div>

</div>
</div>
</div>
</section> <!-- End Hero -->

{% endif %}
