<!-- Hero -->
<section class="featured-hero" id="featured-element">
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

  <h1 class="featured-name">{{site.project.name}}</h1>
  <h2 class="featured-tagline">{{site.project.tagline}}.</h2>

<div class="featured-buttons">
  <a class="button white" href="{{page.baseurl}}getting-started">
    Get Started
  </a>

  <img class="featured-image-right" src="{{page.baseurl}}assets/images/arrow-right.png" alt="Getting Started">
</div>

<div class="featured-version">
  <p>
    Currently <span id="github-version"><i class="fa fa-spinner fa-spin"></i></span>
  </p>
</div>

</div>
</div>
</div>
</section>
<!-- End Hero -->

<!-- Banner -->
<section class="featured-banner" id="banner-section">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">

<h1 class="featured-header">
  A faster, more practical alternative to bulky APIs.</h1>

<h1 class="featured-subheader">
  Our platform just got a whole lot easier.</h1>

<h4 class="featured-intro">
  {{site.project.name}} gives you the facilities to spin-up virtual servers, carry out administrative tasks, and more. Its simple interface provides seamless access to your SoftLayer environment without making you grapple with an API.</h4>

<div class="col-lg-4 col-md-4">
<div class="featured-wrapper">
  <a href="{{page.baseurl}}getting-started/#toc_1">

    <i class="fa fa-cloud-download" id="featured-slot-one"></i>
    <h3>Download {{site.project.name}}</h3>
    <p>{{site.project.name}} is an open source project. Pick from a number of different options to get started. <i class="fa fa-arrow-circle-right fa-fw" id="featured-icon-slot-one"></i></p>

  </a>
</div>
</div>

<div class="col-lg-4 col-md-4">
<div class="featured-wrapper">
  <a href="{{page.baseurl}}contributing">

    <i class="fa fa-code" id="featured-slot-two"></i>
    <h3>Become a Contributor</h3>
    <p><span id="github-contributors"><i class="fa fa-spinner fa-spin"></i></span> contributors have put time and effort into this project. Find out how you can help. <i class="fa fa-arrow-circle-right fa-fw" id="featured-icon-slot-two"></i></p>

  </a>
</div>
</div>

<div class="col-lg-4 col-md-4">
<div class="featured-wrapper">
  <a href="{{site.github.watch}}" target="_blank">

    <i class="fa fa-comment" id="featured-slot-three"></i>
    <h3>Watch Us on GitHub</h3>
    <p>Join the ranks of our <span id="github-stargazers"><i class="fa fa-spinner fa-spin"></i></span> other followers and keep up with what's happening. <i class="fa fa-arrow-circle-right fa-fw" id="featured-icon-slot-three"></i></p>

  </a>
</div>
</div>

</div>
</div>
</div>
</section>
<!-- End Banner -->

<hr>

<!-- Portfolio -->
<section class="featured-portfolio">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">

<div class="projects">
  <h1 class="featured-header">
    <span id="github-repos"><i class="fa fa-spinner fa-spin"></i></span> open source projects and counting.</h1>

  <h1 class="featured-subheader">
    Python. Go. Ruby. And many others.</h1>

  <h4 class="featured-intro">
    Our SoftLayer Labs team began at the grassroots level in open source communities. We’re firm believers in developing, sharing, and collaborating with other like-minded doers and enthusiasts.</h4>

  <ol id="repos"></ol>
</div>

</div>
</div>
</div>
</section>
<!-- End Portfolio -->
