<div class="container"> <!-- Social icons -->
<div class="row">
<div class="social-icons pull-right">

  <a href="{{site.github.star}}" target="_blank"><i class="fa fa-star"></i></a>
  <a href="{{site.github.fork}}" target="_blank"><i class="fa fa-code-fork"></i></a>
  <a href="https://twitter.com/share?hashtags=cli,python&text=See how {{site.project.name}} from @softlayer puts your resources to work from the command line&tw_p=tweetbutton&url={{site.github.url}}/cli" target="_blank"><i class="fa fa-twitter"></i></a>

</div>
</div>
</div> <!-- End Social icons -->
