<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimal-ui">
<meta name="description" content="{{site.project.tagline}}">
<meta name="author" content="{{site.owner.name}}">

<title>
{% if page.header == null %}
{% if page.title == "index" %}
  {{site.project.alias}} &middot; {{site.owner.name}}
{% elsif page.title == "cli" %}
  {{site.project.name}} &middot; {{site.owner.name}}
{% endif %}
{% else %}
  {{page.header}} &middot; {{site.project.name}}
{% endif %}
</title>

<!-- Icons -->
<link rel="shortcut icon" sizes="32x32" href="{{page.baseurl}}assets/images/favicon.ico">
<link rel="shortcut icon" sizes="196x196" href="{{page.baseurl}}assets/images/apple-touch-icon.png"> <!-- Android -->
<link rel="apple-touch-icon" sizes="144x144" href="{{page.baseurl}}assets/images/apple-touch-icon.png"> <!-- Apple -->

<!-- Stylesheets -->
<link rel="stylesheet" href="{{page.baseurl}}assets/css/main.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">

<!-- Font -->
<script src="//use.typekit.net/lzt3exy.js"></script>
<script>
  try{Typekit.load();}catch(e){}
</script>
