<!-- Hero -->
<section class="hero" id="featured-element" role="region">
<div class="container">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

    <h1 class="hero-name">{{site.project.name}}</h1>
    <h2 class="hero-tagline">{{site.project.tagline}}.</h2>

<div class="hero-button">
    <a class="button white" href="{{page.baseurl}}getting-started">
        Get Started
    </a>

    <img class="hero-image" src="{{page.baseurl}}assets/images/arrow-right.png" alt="Getting Started">
</div>

<div class="hero-version">
    <p>
        Currently <span id="github-version"><i class="fa fa-spinner fa-spin"></i></span>
    </p>
</div>

</div>
</div>
</section>
<!-- End Hero -->
