<!-- Portfolio -->
<section class="portfolio" role="region">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">

<div class="projects">
    <h1 class="section-header">
        <span id="github-repos"><i class="fa fa-spinner fa-spin"></i></span> open source projects and counting.</h1>

    <h1 class="section-subheader">
        Python. Go. Ruby. And many others.</h1>

    <h4 class="section-intro">
        Our SoftLayer Labs team began at the grassroots level in open source communities. We’re firm believers in developing, sharing, and collaborating with other like-minded doers and enthusiasts.</h4>

    <ol id="repos"></ol>
</div>

</div>
</div>
</div>
</section>
<!-- End Portfolio -->
