{% if page.title == "cli" %}  <!-- Determines which hero to show based on the page title -->

<section class="hero"> <!-- Hero -->
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

  <h1 class="hero-name">{{site.project.name}}</h1>
  <h2 class="hero-tagline">{{site.project.tagline}}.</h2>

<div class="hero-buttons">
  <a class="button white" href="{{page.baseurl}}getting-started">
    Get Started
  </a>

  <a class="button white" href="{{page.baseurl}}" target="_blank">
    Python Client
  </a>

  <img class="hero-image-right" src="{{page.baseurl}}public/images/arrow-right.png" alt="Getting Started">
</div>

<div class="hero-version">
  <p>
    Currently <span id="github-version"><i class="fa fa-spinner fa-spin"></i></span>
  </p>
</div>

</div>
</div>
</div>
</section> <!-- End Hero -->

{% else %}

<section class="hero-alias"> <!-- Hero (alias) -->
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

  <h1 class="hero-name">{{site.project.alias}}</h1>
  <h2 class="hero-tagline">{{site.github.project_tagline}}</h2>

<div class="hero-buttons">
  <a class="button white" href="http://softlayer-python.readthedocs.org/en/latest/index.html" target="_blank">
    Learn More
  </a>

  <a class="button white" href="{{page.baseurl}}cli">
    {{site.project.name}}
  </a>

  <img class="hero-image-left" src="{{page.baseurl}}public/images/arrow-left.png" alt="Go to Python CLI">
</div>

<div class="hero-version">
  <p>
    Currently <span id="github-version"><i class="fa fa-spinner fa-spin"></i></span>
  </p>
</div>

</div>
</div>
</div>
</section> <!-- End Hero -->

{% endif %}
