---
layout: default
---

{% include social.html %}

<div class="container whitespace">
<div class="row">
<div class="col-lg-8 col-lg-offset-1 col-md-8 content">
<header>
  <h1 class="page-header">{{page.header}}</h1>
  <h2 class="page-intro">{{page.intro}}</h2>
</header>

  {{content}}

</div>
<div class="col-lg-2 col-lg-offset-1 col-md-2">
<div class="subnav" id="subnav-element"> <!-- controls reside in toggle.js -->
  <ul class="indexing"> <!-- results originate from indexing.js -->
  </ul>
</div>
</div>
</div>
</div>
