name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8,3.9,'3.10',3.11]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tools/test-requirements.txt
    - name: Tox Test
      run: tox -e py
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tools/test-requirements.txt
    - name: Tox Coverage
      run: tox -e coverage
  analysis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tools/test-requirements.txt
    - name: Tox Analysis
      run: tox -e analysis
  detectsecrets:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python/@v5
      with:
        python-version: 3.11
    - name: Install Detect Secrets
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade "git+https://github.com/ibm/detect-secrets.git@master#egg=detect-secrets"
    - name: Detect Secrets
      run: |
        detect-secrets scan --update .secrets.baseline
        detect-secrets audit .secrets.baseline --report --fail-on-unaudited --omit-instructions